<div>
    <header class="mb-3 pb-3 border-bottom">
        <h3 class="mb-0 text-secondary">All Tickets</h3>
    </header>
    <!-- starts:ticket list table -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">STATUS</th>
                <th scope="col">SUBJECT</th>
                <th scope="col">RAISED BY</th>
                <th scope="col">ASSIGNEE</th>
                <th scope="col">CATEGORY</th>
                <th scope="col">TICKET ID</th>
                <th scope="col">LAST UPDATE</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-primary">closed</td>
                <td>need vpn connection.</td>
                <td>tanvi patel</td>
                <td>neel pardeshi</td>
                <td>office admin.</td>
                <td>00125</td>
                <td>1month ago.</td>
                <td>edit | Delete</td>
            </tr>
            <tr>
                <td class="text-info">in progress</td>
                <td>install node js.</td>
                <td>tanvi patel</td>
                <td>neel pardeshi</td>
                <td>office admin.</td>
                <td>00124</td>
                <td>1month ago.</td>
                <td>edit | Delete</td>
            </tr>
            <tr>
                <td class="text-warning">Pendding</td>
                <td>install fileZilla.</td>
                <td>tanvi patel</td>
                <td>neel pardeshi</td>
                <td>office admin.</td>
                <td>00123</td>
                <td>1month ago.</td>
                <td>edit | Delete</td>
            </tr>
        </tbody>
    </table>
    <!-- ends:ticket list table -->
</div>