<div>
    <header class="mb-3 pb-3 border-bottom d-flex">
        <h3 class="mb-0 text-secondary">All Tickets</h3>
        <div class="search-wrapper col-4 ms-4">
            <app-search (search)="onSearch($event)"></app-search>
        </div>
    </header>
    <!-- starts:ticket list table -->
    <table class="table" id="ticket-table">
        <thead>
            <tr>
                <th scope="col">STATUS</th>
                <th scope="col">SUBJECT</th>
                <th scope="col">RAISED BY</th>
                <th scope="col">ASSIGNEE</th>
                <th scope="col">CATEGORY</th>
                <th scope="col">TICKET ID</th>
                <th scope="col">LAST UPDATE</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ticket of filteredTickets">
                <td class="text-primary">{{ticket.status}}</td>
                <td>{{ticket?.subject}}</td>
                <td>{{ticket?.raisedBy}}</td>
                <td>{{ticket?.assignee}}</td>
                <td>{{ticket?.category}}</td>
                <td>{{ticket?.id}}</td>
                <td>{{ticket?.updated | date: 'medium'}}</td>
                <td>
                    <button class="btn btn-info" [routerLink]="['edit', ticket?.id]">Edit</button>
                    <button class="btn btn-danger text-white mx-2" (click)="onDelete(ticket.id)">Delete</button>
                    <button class="btn btn-info text-white me-2" (click)="exportExcel()">
                        <span class="bi bi-download ms-2"></span> .xls
                    </button>
                    <button class="btn btn-info text-white" (click)="exportPdf()">
                        <span class="bi bi-download ms-2"></span> .pdf
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- ends:ticket list table -->
</div>