<div>
    <header class="mb-3 pb-3 border-bottom">
        <h3 class="mb-0 text-secondary">All Tickets</h3>
    </header>
    <!-- starts:ticket list table -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">STATUS</th>
                <th scope="col">SUBJECT</th>
                <th scope="col">RAISED BY</th>
                <th scope="col">ASSIGNEE</th>
                <th scope="col">CATEGORY</th>
                <th scope="col">TICKET ID</th>
                <th scope="col">LAST UPDATE</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ticket of ticketList">
                <td class="text-primary">{{ticket.status}}</td>
                <td>{{ticket?.subject}}</td>
                <td>{{ticket?.raisedBy}}</td>
                <td>{{ticket?.assignee}}</td>
                <td>{{ticket?.category}}</td>
                <td>{{ticket?.id}}</td>
                <td>{{ticket?.updated}}</td>
                <td>
                    <button class="btn btn-info mx-2">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- ends:ticket list table -->
</div>