<section class="container h-100 overflow-auto d-flex flex-column align-items-center justify-content-center py-4">
    <section class="col-xl-4 col-lg-6 col-md-7 col-sm-9 col-11  border rounded py-4">
        <header class="text-secondary text-center">
            <h2 class="mb-3">Login</h2>
        </header>
        <!-- starts:  Login form -->
        <form class="overflow-auto px-4" [formGroup]="loginForm">
            <div class="form-group mb-4">
                <label for="userName">UserName/Email</label>
                <input formControlName="userName" type="text" class="form-control" id="userName"
                    placeholder="Enter UserName" />
                <div class="invalid-feedback d-flex"
                    *ngIf="formControls['userName'].errors?.['required'] && formControls['userName'].touched">
                    UserName/Email is required.
                </div>
            </div>
            <div class="form-group mb-4">
                <label for="password">Password</label>
                <input formControlName="password" type="password" class="form-control" id="password"
                    placeholder="Enter password" />
                    <div class="invalid-feedback d-flex"
                    *ngIf="formControls['password'].errors?.['required'] && formControls['password'].touched">
                    Password is required.
                </div>
            </div>
            <footer>
                <button 
                    type="submit" 
                    class="btn btn-primary text-uppercase px-5 w-100 mb-3"
                    (click)="login()">Login</button>
                <div class="position-relative mb-2">
                    <span class="v-center h-xs w-100 d-block bg-primary position-absolute"></span>
                    <div class="d-flex justify-content-center align-items-center"><span
                            class="position-relative bg-white px-1">OR</span></div>
                </div>
                <a routerLink="/registration">Registration</a>
            </footer>
        </form>
        <!-- ends: form -->
    </section>
</section>